__pycache__
.idea
*.ipynb_checkpoints*
data/pretrained_models
data/vocabs/*
results/*
BioSyn_modified/BioSyn/model
BioSyn_modified/BioSyn/src/biosyn.egg-info
MCN_n2c2.tar.gz
MCN_n2c2/**/*.json
MCN_n2c2/**/*.txt
MCN_n2c2/**/*.concept
MCN_n2c2/**/*.norm
MCN_n2c2/**/*.zip
*.pyc
*~
*.RRF
*.log